<li class="answer list-group-item">
  <%= answer.content %>

  <%= link_to question_answer_path(answer.question, answer), method: :delete, remote: true, class: 'question-delete' do %>
    <span class='fa fa-remove fa-2x nomark'></span>
  <% end %>

  <% if answer.correct %>
    <span class='pull-right'>
      <span class='fa fa-check fa-2x checkmark'></span>
    </span>
  <% end %>
</li>