<h3>Edit question</h3>
<div class='edit-answer-errors'><%= render partial: 'shared/errors' %></div>

<%= form_for :answer, url: question_answer_path(@answer.question, @answer), html: { class: 'edit-answer-form' }, method: :put, remote: true do |f| %>
  <div class='edit-answer'>
    <%= render partial: 'answers/form', locals: { f: f }  %>
  </div>
<% end %>