footer {
  position: absolute;
  bottom: 0;
  height: 60px;
  width: 100%;
  background-color: #f5f5f5;
}

// Flash messaging
.error {
  list-style: none;
  padding-bottom: 5px;
}

.error-alert {
  margin-top: 20px;
}

// Forms

.answer-content {
  max-width: 50%;
  display: inline;
}

.answer-checkbox {
  display: inline;
}

.new-answer {
  background-color: #f5f5f5;
}

.checkmark {
  color: green;
}

.nomark {
  color: red;
}