footer {
  position: absolute;
  bottom: 0;
  height: 60px;
  width: 100%;
  background-color: #f5f5f5;
}

.container {
  max-width: 75%;
}

// Flash messaging
.error {
  list-style: none;
  padding-bottom: 5px;
}

.error-alert {
  margin-top: 20px;
}

// Forms
.answer-content {
  max-width: 50%;
  display: inline;
}

.answer-checkbox {
  display: inline;
  margin: auto 20px auto 20px;
}

.new-answer {
  background-color: #f5f5f5;
}

.checkmark {
  color: green;
}

.nomark {
  color: red;
}


// Answer
.answer-form {
  padding: 10px;
  margin-bottom: 10px;
}

.answer {
  padding-left: 0px;
}

.answer-edit {
  color: black !important;
}

.answer-checkmark {
  max-width: 60px;
}

// Question
.question-header {
  margin: 20px;
}

.question-prompt {
  display: inline;
}

// Assessment
.questions-to-assessment-show {
  padding: 10px;
}